<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="!dev &amp; !prod">
        <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="secure" level="debug" additivity="false">
            <appender-ref ref="text"/>
        </logger>

        <root level="info">
            <appender-ref ref="text"/>
        </root>

        <!--        For å unngå å logge request body -->
        <logger name="reactor.netty.channel.ChannelOperationsHandler" level="OFF"/>
    </springProfile>

    <springProfile name="dev | prod">
        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="info">
            <appender-ref ref="json"/>
        </root>

        <logger name="no.nav.yrkesskade" level="info"/>

        <!--        For å unngå å logge request body -->
        <logger name="reactor.netty.channel.ChannelOperationsHandler" level="OFF"/>
    </springProfile>
</configuration>
